node_modules/
public/uploads/
frontend/public/uploads/
res/image/profile/*
!res/image/profile/test.png
res/image/post/*
!res/image/post/test.png

*.env
config/
temp/
replays/
stats/
logs/
.vs/
.vscode/
volume/
public/res/img/effect/effects_old.png

*.swp
*.pyc
