.form {
    *,
    ::before,
    ::after {
        box-sizing: border-box;
    }

    width: min(100%, 400px);
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 25px;

    .inputBox {
        position: relative;
        width: 100%;
    }
    .inputBox input {
        position: relative;
        width: 100%;
        background: var(--col-bg);
        border: none;
        outline: none;
        padding: 25px 10px 7.5px;
        border-radius: 4px;
        color: var(--col-font);
        font-weight: 500;
        font-size: 1em;
    }
    .inputBox i {
        position: absolute;
        left: 0;
        padding: 15px 10px;
        font-style: normal;
        color: var(--col-font-light);
        transition: 0.5s;
        pointer-events: none;
    }
    .inputBox input:focus ~ i,
    .inputBox input:valid ~ i {
        transform: translateY(-7.5px);
        font-size: 0.8em;
        color: #bfbfbf;
    }

    .links {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .links a {
        color: var(--col-primary-light);
        font-weight: 600;
        text-decoration: underline;
    }
    .login-error {
        color: red;
    }
    .login-error svg {
        display: inline;
    }


    
/* The switch - the box around the slider */
.switch {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width: 44px;
    height: 22px;
    margin-right: 6px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .switchslider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5c5c5c;
    -webkit-transition: .2s;
    transition: .2s;
    height: 22px;
    /* box-shadow: 1px 1px 2px rgb(43, 43, 43); */
  }
  
  .switchslider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
  }
  input:checked + .switchslider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  input:checked + .switchslider {
    background-color: #804fb3;
  }
  .switchslider{
    border-radius: 11px;
  }
  
  input[type=range] {
    background: none;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 200px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #fdeaff;
    border-radius: 25px;
    border: 0px solid #000101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #a140d1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #e1c5ff;;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #e1c5ff;;
    border-radius: 25px;
    border: 0px solid #000101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #a140d1;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #e1c5ff;;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #e1c5ff;;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #65001C;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #e1c5ff;;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #e1c5ff;;
  }
  
}


.select-box {
  position: relative;
  display: block;
  width: 100%;
  font-size: 18px;
  color: var(--col-font);
  
  @media (min-width: 768px) {
    width: 70%;
  }
  
  @media (min-width: 992px) {
    width: 50%;
  }
  
  @media (min-width: 1200px) {
    width: 30%;
  }
  
  &__current {
    position: relative;
    box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
    cursor: pointer;
    outline: none;
    
    &:focus {
      & + .select-box__list {
        opacity: 1;

        // We have to set "animation-name: none;" to make the list visible (read below how it works)

        animation-name: none;
        
        .select-box__option {
          cursor: pointer;
        }
      }
      
      .select-box__icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  
  &__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
    color: var(--col-font);

  }
  
  &__value {
    display: flex;
  }
  
  &__input {
    display: none;
    
    &:checked + .select-box__input-text {
      display: block;
    }
  }
  
  &__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: var(--col-bg-lighter);
  }
  
  &__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    z-index: 3;
    // We need to use animation with delay.
    // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
    // This delay will not be noticed because we set "opacity" to "0".
    // We also use "animation-fill-mode: forwards" to make the list stay hidden.
    
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
  }
  
  &__option {
    display: block;
    padding: 15px;
    background-color: var(--col-bg-lighter);
    
    &:hover,
    &:focus {
      color: var(--col-font-light);
      background-color: var(--col-bg-lighter);
    }
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}