#friends-root{
    position: absolute;
	top:50vh;
	left:50%;
	transform: translate(-50%,-50%);
	display: flex;
	flex-direction: row;
	width: fit-content;
}

#friendlist{

    margin: 2px;
	// position: relative;
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
	position: relative;
	
	width: min(24rem,97vw);
	height: min(38rem,92vh);
	box-sizing: border-box;
	border-radius: 1rem;
	text-align: center;
	background: var(--col-bg-lighter);
	box-shadow: 
		0 0 8rem 0 rgba(black, 0.1),
		0rem 2rem 4rem -3rem rgba(black, 0.5);
    #search-modal{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 3px;
        background-color: var(--col-bg-light);
        border-radius: 5px;
        width: 70%;
        z-index: 3;
        box-sizing: content-box;

        
        .modal-content {
            overflow: auto;
            height: max(300px, 50vh);
        }
        .modal-toolbar {
            position: relative;
            height: 40px;
            text-align: center;
            line-height: 40px;
            font-size: 25px;
            border-bottom: 1px solid var(--col-font);
        }
        
        .modal-close {
            height: 40px;
            width: 40px;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
        }
        .modal-close svg {
            height: 40px;
            width: 40px;
            color: var(--col-font);
        }
        
        .searchbar{
            display: grid;
            grid-template-columns: auto 30px;
            input{
                background: var(--col-bg-lighter);
                color: var(--col-font);
                font-size: large;
                border: none;
            }
        }
        .search-btn{
            background-color: var(--col-primary);
            cursor: pointer;
            svg{
                vertical-align: text-top;
            }
        }
    }
    #dropdown{
        position: absolute;
        z-index: 2;
        border: 2px solid white;
        background-color: var(--col-bg-light);
        width: 130px;
        &.hidden{
            display: none;
        }
        >div{
            border-bottom: 1px solid white;
            padding: 5px;
            cursor: pointer;
        }
    }
    .friendlist{
        overflow: auto;
        // height: 35rem;
    }
    .friend-toolbar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid whitesmoke;
        .button{
            width: 3rem;

            svg{
                width: 1.2rem;
                height: 1.2rem;
            }
        }
    }

    .profileimg-container{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: var(--col-primary);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		align-self: flex-start;
	  }
	  .profileimg-container.has-img{
		background-color: #ebebfd;
	  }
	  .profileimg-container > a{
		user-select: none;
		color: #ffffff;
		font-size: 22px;
		/* text-align: center; */
	  }
	  .profileimg{
		object-fit: cover;
		width: 40px;
		height: 40px;
		border-radius: 50%;
	  }

      .friend-item{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 7px 4px;
            color: var(--col-font-dim);
            font-size: small;
            .name{
                color: var(--col-font);
                font-size: large;
            }

            &.inactive{
                // filter: brightness(0.8);
                color: var(--col-font-light);
                background-color: var(--col-bg-light);
                .name{
                    color: var(--col-font-light);
                }
            }
            .badge{
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: 2px solid rgb(24, 196, 24);
                background-color: green;
                display: inline-block;
                vertical-align: middle;
                margin-right: 3px;
            }
      }
}