/*
#200f33
#351954
#552686
#6a359c
#804fb3
#9969c7
*/
pattete{
   color: #200f33;
   color:#351954;
   color:#552686;
   color:#6a359c;
   color:#804fb3;
   color:#9969c7;
}
.redlabel{
color: #ff6e6e;
}
.bluelabel{
    color: #7272ff;
}

.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
#character{
    position: absolute;
    top:0;left:0;
    width: 100%;
    height: 100%;;
    z-index: 3;
    background-color: #200f33;

}
#analysis,#character{
    text-align: center;
    width: 100%;
    overflow: auto;
    padding-bottom: 200px;
}
.character-list-container{
    display: inline-block;
}
.character-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:stretch;
    /* padding: 10px; */
    /* width: fit-content; */
}
.character-list-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    background-color: #351954;
    border-radius: 10px;
    width: 60px;
}
.character-winrate-card:hover{

    background-color: #45246c;
}
.card-charimg{
    border: 2px solid #9969c7;
    border-radius: 50%;
    width: 40px;
    
    margin-bottom: 6px;
    height: 40px;
}
.card-charimg img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.character-list-card b{
    font-size: 13px;
    padding: 2px;
}
/* Screen smaller than 600px */
@media (max-width: 600px){
    #character-table-container{
        grid-template-columns: 1fr;
    }
    .character-list-card{
        width: 50px;
    }
    .card-charimg,.card-charimg img{
        width: 30px;
        height: 30px;
    }
    .character-list-card b{
        font-size: 13px;
    }
}
.table-charimg{
    /* border: 2px solid #9969c7; */
    /* border-radius: 50%; */
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}
.table-charimg img{
    /* border-radius: 50%; */
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

#character-table-toolbar{
    /* height: 100px; */
}
#character-table{
    display: inline-block;
    width: 95%;
}
#character-table-container{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Screen smaller than 1100px */
@media (max-width: 1100px){
    #character-table-container{
        grid-template-columns: 1fr 1fr;
    }
} 
/* Screen smaller than 600px */
@media (max-width: 600px){
    #character-table-container{
        grid-template-columns: 1fr;
    }

}
.character-table-header h2{
    margin: 0;
    padding: 7px;
    font-size: 18px;
}
.character-table-header{
    background-color: #552686;
    margin: 0;
    margin-top: 5px;
}
.character-table-metadata{
  
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0;
}
.character-table-metadata .player-data-otherstat-item
{
    background-color: #552686;
    padding-left: 10px;
    padding-right: 10px;
}


.character-table-header-small{
    display: grid;
    grid-template-columns: 2fr 2fr;
    text-align: center;
    padding: 0 !important;
}
.character-table-header-small >div{
    border:2px solid #351954;
    padding: 4px;
}
.character-table-content{

    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0;
}
.character-winrate-card,.character-content-item-list{
    padding: 2px;
    background-color: #351954;
    /* cursor: pointer; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    height: 42px;
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0;
    /* padding-left: 5px; */
    min-width: 250px;
}
.character-content-item-list{
    justify-content: space-evenly;
}
.character-winrate-card{
    cursor: pointer;
}
.table-charname{
    padding-left: 10px;
}
.subtext{
    color: rgb(195, 195, 195);
    font-size: 10px;
}
.table-char-rank{
    background-color: goldenrod;
    font-size: 15px;
    padding: 3px;
    margin-right: 6px;
    border-radius: 4px;
}
.table-char-rank.silver{
    background-color: rgb(96, 96, 96);
}
.table-char-rank.bronze{
    background-color: rgb(130, 80, 34);
}
.character-table-metadata b{
    font-size: 13px;
}
#character-table-maps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.character-table-mapbtn{
    /* border: rgb(247, 197, 70) solid 3px; */
    color:#9e9ec9;
    background: #484857;
    width:27%;
    min-width: 100px;
    max-width: 200px;
    cursor: pointer;
    margin: 2px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3px;
    text-align: left;
  }
  .character-table-mapbtn > img{
    width: 40px;
  }
  
  .character-table-mapbtn > a{
    margin-left: 5px;
   
    font-size: 15px;
    vertical-align: middle;
  }
  .character-table-mapbtn.selected{
    outline: white solid 2px;
    outline-offset: -2px;
    color:#f5f5ff;
  }
  .character-table-mapbtn:hover,.champbtn:hover{
    transform: scale(1.05);
  }
  .version-dropdown-btn{
    background:#371f52;
    display: inline-block;
    min-width: 150px;
    border: 1px solid white;
    padding: 12px;
    /* margin: 10px; */
  }
  .dropdown-container{
    margin: 10px;
    font-size: 14px;
  }
  #character-content{
    margin-bottom: 200px;
  }
  #character-content>div{
  }
  #character-opponents,#character-duos{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  #character-items,#character-itembuilds{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;
  }
  /* Screen smaller than 800px */
@media (max-width: 800px){
    .character-list-card .subtext{
        display: none;
    }
}
#character-close-btn{
    transform: rotate(90);
    position: absolute;
    top:0;
    left:0;
    cursor: pointer;
    /* border: 2px solid white; */
    font-size: 20px;
    margin: 2px;
    /* border-radius: 7px; */
    line-height: 35px;
    padding-right: 14px;
}
#character-close-btn img{
    width: 35px;
    filter: invert();
    vertical-align: middle;
}
#character-close-btn.light img{
    filter: none;
}
#character{
    /* padding-top: 40px; */
}
#character-items .character-content-item-list{
    min-width: 320px;
    width: 100%;
    border-left: 2px solid #200f33;
    border-right: 2px solid #200f33;
}
#character-itembuilds .character-content-item-list{
    min-width: 320px;
    width: 100% ;
    
    border-left: 2px solid #200f33;
    border-right: 2px solid #200f33;
}
.character-content-item-list b{
    /* padding-right:5px ; */
}
.character-content-item-list .pickrate b{
    font-size: 13px;
}
.character-content-title{
    display:block;
    background-color: #552686;
    border:2px solid #351954;
    padding: 10px;
    font-size: 14px;
    /* margin: 4px; */
}

.character-content-header-small{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 300px; */
    background: #552686;
    font-size: 11px;
}
.character-content-header-small >div{
    border:2px solid #351954;
    padding: 4px;
}
.character-list-container{
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    display: block;
    max-width: 100%;
}
.character-section-characters .character-list-container{
    display: inline-block;
}
.character-section-item{
    max-width: 500px;
    margin-left: 5vw;
}
  /* Screen smaller than 800px */
  @media (max-width: 500px){
    .character-section-item{
        margin-left: 0;
        max-width: unset;
    }
}
.character-section-container{
    display: inline-flex;
    justify-content: stretch;
    /* align-items: center; */
    flex-wrap: wrap;
}
#character-trend-graph{
    min-width: 300px;
    background-color: #351954;
    height: 300px;
    width: 100%;
}
.character-section-right{
    margin: 10px;
}
#character-header{
    width: 100%;
    display:inline-block ;
    background: #351954;
    padding-bottom: 10px;
    /* background: linear-gradient(to right,#3d5700 0%,#351954 50%); */
}


#character-summary{
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 2px;
}

#character-header.light{
    color: rgb(41, 41, 41);
}
.character-summary-section-left{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
  
.summary-charimg{
    width: 90%;
    height: fit-content;
    border-radius: 4px;
    max-width: 100px;
   
}
.summary-subtext{
    padding-left: 5px;
    font-size: 13px;
    color: rgb(212, 212, 212);
}
/* Screen smaller than 800px */
@media (max-width: 500px){
    .character-summary-section-left{
        display: block;
        text-align: left;
    }
    .summary-charimg{
        width: 60px;
    }
    .summary-subtext{
        font-size: 10px;
    }
}
.summary-charname{
    padding: 5px;
    font-size: max(2vw,18px);
    font-family: "cookierun";

}
.character-summary-item{
    /* border: 2px solid #edd9ff; */
    margin: 5px;
    color: rgb(247, 247, 247);
    font-size: max(1.2vw,11px);
    /* width: 150px; */
    text-align: left;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 250px;
    background: rgba(237, 237, 237,0.3);
}
#character-header.light .character-summary-item,#character-header.light .character-dropdown-btn{
    /* border: 2px solid #3b294c; */
    /* color: rgb(25, 25, 25); */
    background: rgba(37, 36, 36, 0.3);
}
.character-summary-item .otherstat-name{
    color: rgb(216, 216, 216);
}
#character-header.light .summary-subtext{
    /* color: #33333d; */
    color: rgb(70, 70, 70);
}
.character-skills > img{
    width: 30px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 3px 1px rgba(32, 32, 32, 0.8);
    /* border: 1px solid white; */
}
.character-skills > img:hover{
    transform: scale(1.1);
}
.character-skills{
    text-align: left;
}
.character-toolbar .dropdown-container{
    margin: 3px;
}
.character-toolbar .dropdown-item{
    min-width: 90px;
    text-align: left;
    color: white;
    padding-left: 5px;
}
.character-toolbar{
    margin-bottom: 5px;
    margin-left: 15px;
    text-align: left;
}
.character-dropdown-btn{
    color: rgb(255, 255, 255);
    background: rgba(237, 237, 237,0.3);
    /* background:transparent; */
    display: inline-block;
    min-width: 90px;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
    /* margin: 10px; */
  }
  .character-map-dropdown img{
    width: 20px;
    vertical-align: middle;
    margin-right: 3px;
  }
  .character-ref{
    cursor: pointer;
  }
  #analysis .player-data-otherstat-item{
    width: unset;
  }

  #skill-tooltip{
    position: fixed;
    z-index: 5;
    width: fit-content;
    
    min-width:300px;
    /* width: max(50%,300px); */
    /* height: 100px; */
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(57, 58, 69);
    color: white;
    border: 2px solid rgb(87, 87, 87);
    padding: 6px;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px rgba(46, 46, 46,0.8);
    display: none;
  
  }
  #skill-overlay{
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    display: none;
  }