
#navbar{
    display: flex;
    background-color: #242424   ;
    border-bottom: 1px solid gray;
    margin-top: 0;
    padding-top: 4px;
    justify-content:space-between;
    align-items: stretch;
    height: min-content;
    max-height: 84px;
    position: sticky;
    top:0;
    flex-wrap: wrap;
    z-index: 3;
  }
  #navbar-btn-container{
    display: flex;
    justify-content:space-between;
    flex-grow: 1;
    margin-left: 5vw;
    margin-right: 10px;

  }
  #title{
    text-align: center;
  }
  #title h5{
    padding: 10px;
    /* width: 30vw; */
    cursor: pointer;
    font-family: 'nanumEB';
    font-size: 30px;
    color: #b895fc;
    margin: 0;
    line-height: 40px;
    margin-left: 15px;
  }
  @media (max-width: 700px) {
    #title h5{

      font-size: 25px;
    }
    #navbar{
      /* height:80px; */
    }
  }
  @media (max-width: 900px) {
    .navbtn > a{
        display: none;
    }
  }
  .navbtn,.menubtn{
    display: inline-block;
    color:white;
    cursor:pointer;
    text-align:center;
    border:none;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
  }
  .navbtn{
    font-family: 'nanumB';
    /* background-color: #7E00BF; */
    background: transparent;
    font-size: 14px;
    /* border-radius: 4px; */
    /* height: 30px; */
    height: 40px;
  }
  .navbtn.active{
    border-bottom: solid 4px #D896FF ;

  }
  .navbtn:hover{
    /* transform: scale(1.1); */
    background: rgb(65, 65, 65);
  }
.navbtn > img{
    height: 25px;
    vertical-align: middle;
    padding: 5px;
    width: 25px;
  }
  .navbtn > a{
    padding-right: 3px;
    
  }
  .navbtn.active > a{
    color: #D896FF;
  }
  .navbtn.active > img{
    filter: invert(23%) sepia(36%) saturate(4944%) hue-rotate(215deg) brightness(103%) contrast(103%);

}
  .nav-section{
    /* display: inline-flex; */
  }
  .menubtn{
    background-color: #505060;
    /* background-color: #7E00BF; */

    margin-left: 2px;
    margin-right: 2px;
    /* border-radius: 4px; */
    /* height: 30px; */
    height: 23px;
    width:23px;
    padding: 5px;
    border-radius: 50%;
  }
  .menubtn:hover{
    background: #7a7a92;
  }
  .hidden{
    display: none;
  }