@media screen and (orientation: portrait) {
    html{
        font-size: 1vh;
    }
    .show_on_portraint{
        display: block;
      }
    #largedicebtn,#largedicebtn_pressed{

        width: 32vw;
        height: 32vw;
        bottom: 10%;
    }
    #infowindow{
        grid-template-columns:auto;
        top:3vh;
    }
    #skillinfowindow{
      order: 1;
      grid-template-columns:7rem auto;
    }
    #skillinfowindow .skillinfo{
        line-height: 3rem;
    }

    #kdawindow{
        order:2
    }
    .kdaimg{
        width: 4rem;
        height: 4rem;
    }
    #kdawindow a{
        font-size: 3.5rem;
    }
    #newstore{
      left: 2%;
      top:20%;
      height: 75%;
      grid-template-columns: 10vw auto;
    }
    .levelitems {
      /* grid-template-columns: auto; */
    }
    .itemdetail{
      display: block;
      left:10vw;
    }
    #newstorecurritem {
      grid-template-columns: auto auto auto;
      bottom:80%;
      right:5%;
      top:auto;
      left: auto;
    }
    #newstoremoney{
        bottom:80%;
        left:2%;
        top:auto
    }
    #buyitem,
    #buytoken,
    #buylife{
        height: 10%;
        width: 90%;
    }
    .store_thisitemimg{
        transform: scale(0.6);
        margin: -13px;
        margin-bottom: -23px;
    }
    .typelistbtn img{
        width: 6vw;
        padding: 2vw;
    }
    #skillbtncontainer {
        bottom: 200px;
        right: 0;
        flex-direction: column;
        border: 4px solid rgb(121, 0, 111);
        border-right: none;
        transform: scale(0.8);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0;
    }
    .skillbtn{
        margin-bottom: 10px;
    }
    #dicecontrolbtn{
        transform: translate(0,-32vw);        
    }
    #dicecontrolcool{
        transform: translate(38px,-32vw);  
    }
    .mydisplay {
        top:83px;
    }
    .mystatus {
        left: 15px;
    }
    #otherui_container {
        top: 160px;
    }
    #chat_enter{
        top:40%;
        width: 80%;
    }
    /* .store_treeitemimg {
        margin: -20px;
        transform: scale(0.6);
        margin-bottom: -25px;
      } */
  }