#stat-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}
#stat-content #stat{

}

#stat-content #history{
    overflow: scroll;
    height: 100%;
}

#root-stockgame .day-record-item{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3px;
}
#root-stockgame .day-record-date{
    color: var(--color-text-secondary);
}
#root-stockgame .day-record-item > span{
    text-align: left;

}
#root-stockgame .stat-item div{
    margin: 10px;
    text-align: center;
}
#root-stockgame  .stat-item-name{
    color: var(--color-text-secondary);
    font-size: small;
}
#root-stockgame  .stat-item-value{
    /* color: blue; */
    font-size: larger;
}
