
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Pretendard-Regular';
	background-color: #1d1d2d;
	--col-primary:#7e00bf;
	--col-primary-light:#a044ff;
	--col-bg:#1d1d2d;
	--col-bg-light:#29293e;
	--col-font:rgb(239, 239, 239);
	--col-font-light:rgb(130, 130, 130);
}
#html-cover
{
	width: 100%;
	height: 100%;
	transition:  all 0.3s;
	position: absolute;
	top:0;
	left: 0;
	background-color: #1d1d2d;
	z-index: 9999;
}